@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;500;600&display=swap');


*{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.479), #000), url(./components/theather.jpg);
  background-size: cover;
  position: center;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: "Varta", sans-serif;
  color: azure;
}

.movie{
  margin:1rem;
  width: 210px;
  background-color: rgba(70, 14, 53, 0.486);
  border-radius: 3px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.692);
  overflow: hidden;
  position: relative;
  margin-top: 6%;
}

.movie img {
  max-width: 100%;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
}

.movie-info{
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3{
margin: 0;
font-size: 18px;
font-weight:600;

}

.movie-hover{
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(224, 55, 97, 0.808);
 padding: 1rem;
 transform: translateX(100%) translateY(50%);
 transition: transform 0.5s ease-in-out;
 overflow:none;
 
}

.movie-hover p{
  font-style: italic;
}

.movie:hover .movie-hover{
  transform: translateX(0%);
}

.movie-container8{
  display: flex;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-left: 8%;
  height:390px;
  overflow-x: scroll;
}

.movie8{
  margin:1rem;
  width: 250px;
  background-color: rgba(70, 14, 53, 0.486);
  border-radius: 3px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.692);
  position: relative;
  margin-top: 6%;
}

.movie8 img {
  width: 130px;
}

.movie-container8::-webkit-scrollbar {display:auto};

.movie-info8{
  display: flex;
  padding: 1rem;
  align-items: center;
}

.movie-info8 h3{
margin: 0;
font-size: 15px;
font-weight:600;

}

.movie-hover8{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(224, 55, 97, 0.808);
  padding: 1rem;
  display: none;
}

.movie-hover8 p{
  font-style: italic;
}

.movie8:hover .movie-hover8{
  transform: translateX(100%);
}

.movie-container8::-webkit-scrollbar {
    display: none; 
 }

 .filter{
   padding-top: 50px;
  justify-content:space-evenly;
   width: 450px;
   height: 35px;
   
 }


 .icon{
  font-size:50px;
  margin-left: 60px;
  transition: 0.8s;
 }

 .icon:hover{
   color: black;
   animation: flipv 1s linear;
   transition: 0.8s;
 }


 .favorite-btn{
   margin-left: -10px;
   background-color:rgba(255, 255, 255, 0.527);
   color: rgb(12, 17, 17);
   border-color: white;
   border-radius: 35px;
   width: 200px;
   font-family: "Varta", sans-serif;
   padding-top: 5px;
   font-size: 16.5px;
   transition: 1s;
 }

 .favorite-btn:hover{
   background-color:rgb(167, 160, 160);
   transition: 1s;
 }